/* Base styles for larger screens */
.img {
  display: block;
  object-fit: cover;
  width: 648px;
  height: 137px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.place {
  margin-top: 20px;
  margin: 0 auto;
  width: 648px;
  height: 137px;
}

.Icon {
  width: 42px;
  height: 42px;
  background-color: #1E1D23;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contanier {
  width: 900px;
  margin: auto;
  color: white;
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contanier2 {
  background-color: #1E1D23;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: row;
  width: 648px;
  margin: auto;
  left: 0;
  justify-content: space-between;
}

.input {
  display: flex;
  flex-direction: column;
  width: 648px;
  margin: auto;
  left: 0;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 16px;
}

.selecter{
  width: 648px;
}


.avatar{
   display: flex;
  flex-direction: row;
  width: 648px;
  margin: auto;
  left: 0;
  align-items: center;
}

.age{
  width: 312px;
  margin-bottom: 16px;
}

/* Media Query for screens up to 768px wide (mobile devices) */
@media (max-width: 768px) {
  .img {
    width: 320px;
    height: auto;
    margin:  0 auto ;
  }

  .place {
    width: 100%;
    height: auto;
  }

  .age{
    margin-top: 15px;
  }

  .contanier {
    width: 340px;
    max-width: none;
  }

  .contanier2 {
  height: 100%;
}

  .inputs {
    width: 100%;
    max-width: none;
    flex-direction: column; 
    align-items: center; 
  }

  .input {
    width: 100%;
  max-width: none;
  flex-direction: column; 
    align-items: center; 
  }

  .input:last-child {
    margin-bottom: 16px; 
  }.selecter{
    width: 312px;
  }.avatar{
    width: 320px;
      margin:  0 auto ;
  }
}
